html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("./images/medievalVillage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
}

.card-text {
    margin: 0;
    padding: 0;
}

.btn-card {
    margin-top: 20px;
}
.btn-wal {
    margin: 0px 20px;
}

#mint-btn {
    margin: 100px 0;
}

#warrior-card {
    margin-left: 20px;
}

