body {
    background-image: url("./images/medievalVillage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.card-text {
    margin: 0;
    padding: 0;
}

.btn-card {
    margin-top: 20px;
}
